body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .pokemon__detail-container {
    width: 100%;
   
} */

.pokemon__details-text {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}

.pokemon__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: .3rem;
    width: 20rem;
    height: 35rem;
    background-color: rgb(230, 230, 230);
}

.pokemon__detail__name {
    letter-spacing: .2rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 3rem;
}

.pokemon__detail-img-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pokemon__detail__image {
    width: 150px;
}
.imagen:hover {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-40px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-5px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.pokemon__version {
    border: none;
    padding: .4rem;
    border-radius: .2rem;
    background-color: rgb(235, 193, 10);
    font-weight: 600;
    border: 1px solid rgb(238, 158, 11);
}

.pokemon__version:hover {
   cursor:pointer;
}

/* stats */

.pokemon__stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: .3rem;
}

.pokemon__stats-text-container {
    display: flex;
    align-items: center;
    height: 100px;
    border-right: 1px solid rgb(201, 201, 201);
    padding-right: 1.5rem;
}

.pokemon__stats-text {
    font-weight: 500;
    font-size: 1.2rem;
}

.pokemon__stats-value-container {
    color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}

p {
    font-size: .8rem;
    font-weight: bold;
}

span {
    font-weight: lighter;
    margin-left: 5px;
}