* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokemon {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 190px;
    height: 280px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(128,128,128,0.69);
    -moz-box-shadow: 0px 0px 10px -1px rgba(128,128,128,0.69);
    box-shadow: 0px 0px 10px -1px rgba(128,128,128,0.69);
}


.pokemon__image-container {
    width: 180px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 150px;
    border-radius: 10px;
}

.pokemon__sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon__image {
    margin-top: 10px;
    position: absolute;
    width: 140px;

 }

.pokemon__shape {
    margin-top: 10px;
    background-color: rgba(241, 233, 233, 0.8);
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 10px;
}



.pokemon__info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 190px;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    -webkit-box-shadow: 0px -8px 1px 1px rgba(59, 59, 59, 0.59); 
    box-shadow: 0px -5px 0px 0px rgba(59, 59, 59, 0.59);
}

.pokemon__name {
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: rgb(248, 248, 248);
    border-radius: 10px;
    font-size: 16px;
    font-weight: lighter;
}

/* types */

.pokemon__types {
    text-transform: uppercase;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 12px;
    color: white;
}

.pokemon__types-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.pokemon__types-value {
    font-size: 12px;
    font-style: italic;
    color: white;
}

/* id */
.pokemon__id-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokemon__id {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    color: rgb(230, 221, 221);
    width: 18px;
    height: 18px;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 50px;
}

