.pokemon__home-container {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
}

.next-page-button-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.next-page-button {
    font-size: .8rem;
    font-weight: 700;
    border-radius: .2rem;
    color: rgb(58, 58, 58);
    padding: .3rem;
    background-color: white;
    border: 1px solid rgb(212, 54, 54);
    transition: background-color 0.2s;
}

.next-page-button:hover {
    cursor: pointer;
    border: none;
    border: 1px solid rgb(212, 54, 54);
    background-color: rgb(212, 54, 54);
    color: white;
    padding: .3rem;
}